* {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

.pricing-container {
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  padding: 20px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-heading {
  color: var(--Grayish-Blue);
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.slider-container {
  color: var(--Light-Grayish-Blue);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.annually {
  margin-right: 10px;
}

.monthly {
  margin-left: 10px;
}

.swap-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-container {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  font-size: 20px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.cards {
  background-color: var(--Very-Light-Grayish-Blue);
  color: var(--Dark-Grayish-Blue);
  text-align: center;
  height: 50vh;
  width: 25%;
  margin-right: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
}

.cards:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
  cursor: pointer;
  height: 105%;
}
.cards:hover > .learn-more {
  background-image: linear-gradient(#ffffff, #ffffff);
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollar {
  font-size: 25px;
  margin-right: 10px;
}

.price-tag {
  font-weight: 700;
  font-size: 60px;
}

.learn-more {
  color: var(--Very-Light-Grayish-Blue);
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 5px;
  border-style: none;
  padding: 10px;
}

hr {
  width: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
